<div class="container">
  <div class="row align-items-center">
    <div class="col align-self-center">
      <h1> 처음 접속하셨나요? </h1>
      
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-outline-secondary btn-sm">sign up</button>
        <button type="button" class="btn btn-outline-secondary btn-sm">sign in</button>
      </div>
    </div>
  </div>
</div>