<main>
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>내 시간표</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <div id="schedule4" class="jqs-demo mb-3"></div>
      </div>
    </div>
  </div>
</main>

<script>
  $(function () {
     $('#schedule4').jqs({
      mode: 'edit',
      days: 5,
      periodColors: [
        ['rgba(0, 0, 0, 0.5)', '#000', '#fff'],
        ['rgba(200, 0, 0, 0.5)', '#f00', '#000'],
        ['rgba(0, 200, 0, 0.5)', '#0f0', '#000'],
        ['rgba(0, 0, 200, 0.5)', '#00f', '#000']
      ],
      periodBackgroundColor: 'rgba(0, 0, 0, 0.5)',
      periodBorderColor: '#000',
      periodTextColor: '#fff',
      periodOptions: false,
    });
    // $('#schedule5').jqs({
    //   mode: 'edit',
    //   daysList: ['Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi', 'Dimanche'],
    //   hour: 12,
    //   periodDuration: 15,
    //   periodOptions: false,
    //   data: [
    //     {
    //       day: 0,
    //       periods: [
    //         ['2', '6'], // Compact 12 hour
    //         ['10pm', '12am'],
    //         ['12am', '2:30am'] // Invalid period, not displayed
    //       ]
    //     }, {
    //       day: 1,
    //       periods: [
    //         ['1:45am', '5:15am']
    //       ]
    //     }, {
    //       day: 2,
    //       periods: [
    //         ['2', '2p'] // Compact 12 hour
    //       ]
    //     }
    //   ]
    // });
  });
</script>
