<div class="container">
  <table id="table-column">
  <tbody>
    <tr>
      <td class="align-middle">
        <h4> 그룹을 찾고 있나요? </h4>
        <h4> 새 그룹을 만들어보세요! </h4>
        <a href="/group/new">그룹 만들기</a>
      </td>
    </tr>
  </tbody>
</table>
</div>

<script>
  window.onload = function(){
    document.getElementById("table-column").setAttribute("height", window.innerHeight);
  }
</script>